 /* index.html styling */


/*------------------------------ The Start of Header ------------------------------*/

/* car wash name  */ 
.car-wash-name{
  color:#adacb1;
}

/* NAVIGATION */
.navbar{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:1rem ;
  background:#0A2647;
}

/* navigation links positioning */
.nav-links{
  display:flex;
  list-style:none;
  gap: 10px;
  flex-direction: column;
  padding: 0;
    
}

/* this is for the navigation links color */
.nav-links a{ 
  color:#ffffff;
  text-decoration:none;
    
}

.nav-links a:hover {
  color: #1a73e8;
}

/*------------------------------ The end of Header ------------------------------ */

/* -----------------------------The start of HERO */

.hero{
  min-height: 100vh;
  width: 100%;
  display:flex;
  justify-content:center;
  align-items:center; 
  text-align:center;
  

  
  background:url('images/main-display1.jpg') center/cover ;
}



/* HERO CONTENT */
.hero-content{
  background:rgba(157, 157, 157, 0.449);
  padding:2rem;
  border-radius:10px;
  color:#0a0a0a;
  max-height: 600px;
  z-index: 1; /* ensures the content is above the overlay */
}


/* button styling */
.btn{
  display: inline-block;
  margin-top: 1rem;
  padding: 0.8rem 2rem;
  background-color: #1a73e8;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

.btn:hover {
  background-color: #03224c;
  color: white;

  /* box-shadow:0 8px 20px rgba(210, 26, 26, 0.3); */
  
}


/* FOOTER */
.footer{
  color: rgb(135, 240, 14);
  text-align: center;
  padding:1rem 5%;
  background:#0A2647;

}

/* media queries */

/* the navigation links will show horizontal on large screen and vertical on smaller devices */
@media (min-width: 768px){
  .nav-links {
    flex-direction: row;
    gap: 15px      
  }
}
